@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 90px;
  --hex-between: 5px;
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73);
  --hex-transition: all .2s ease;
  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover: #fbf6cc;
  --color: #343434;
  --red: #a21734;
  --blue: #192c4a;
  --whiteIsh: #fbf6cc;
}

.btn {
  margin: 10px;
  background-color: #fbf6cc;
  color: #a21734;
}

.hexagon-container .btn {
  position: absolute;
  padding: 20px 0;
}

.banner {
  padding: 50;
  color: #fbf6cc;
  font-size: large;
}
.banner img {
  width: 150px;
}

img #img-0 .character-banner, img #img-1 .character-banner {
  width: 120px;
}

nav {
  padding: 22px 50px 22px 20px;
  text-align: center;
}

.logo img {
  float: left;
  max-width: 80px;
}

h1 {
  color: black;
  padding-bottom: inherit;
  text-shadow: 2px 0px #3D2721;
  text-align: center;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  color: #000;
  margin: auto;
}

.container-fluid {
  background-image: url(../images/logo7.png);
  background-repeat: no-repeat;
  background-position: center;
}

h3 h4 h5 h6 p {
  font-family: "Open Sans", sans-serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

h6 {
  color: #fbf6cc;
  font-family: "Open Sans", sans-serif;
}

.choose-character img {
  max-height: 100px;
}

.col-sm-2 {
  background-color: #000000;
  padding: 20px;
  opacity: 80%;
}
.col-sm-2 .two {
  padding-top: 40px;
}

.two {
  padding-top: 40px;
}

form h4 {
  color: blanchedalmond;
}

.col-sm-6 {
  padding: 25;
}

main .hexagon-container {
  margin: 20px 0px;
  background-color: black;
  padding: 3% 0;
  flex-direction: row;
  justify-content: center;
}

.dice {
  width: 100px;
  display: none;
}

#rollDice {
  margin: 5%;
  position: absolute;
  float: right;
  padding: 15 2;
}

.players {
  background-color: #000000;
  color: #fbf6cc;
  padding: 20px;
  opacity: 95%;
}

.token {
  display: none;
  position: absolute;
  width: 70px;
}

.col-sm-2 {
  margin: auto;
}

/* Hexagons */
.hexagon-container {
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-left: 25%;
  opacity: 80%;
}

.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  display: flex;
  color: #fbf6cc;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}

.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}

.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover);
  color: black;
}

.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(10n+6),
.hexagon:nth-child(10n+7),
.hexagon:nth-child(10n+8),
.hexagon:nth-child(10n+9),
.hexagon:nth-child(10n+10) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > div {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.color {
  background-color: var(--color);
  font-size: xx-large;
}

.color::after,
.color::before {
  border-top-color: var(--color);
  border-bottom-color: var(--color);
}

.color:hover {
  fill: var(--color);
}

.multi-color {
  background: var(--blue);
}

.multi-color::after,
.multi-color::before {
  border-top-color: var(--whiteIsh);
  border-bottom-color: var(--red);
}

.multi-color:hover {
  fill: var(--red);
}

/*# sourceMappingURL=styles.css.map */
