main {
  .hexagon-container {
    //background-image: url(../../images/map.png);
    margin: 20px 0px;
    background-color: black;
    padding: 3% 0;
    flex-direction: row;
    justify-content: center;
  }
}
.dice {
  width: 100px;
  display: none;
}
#rollDice {
  margin: 5%;
  position: absolute;
  float: right;
  padding: 15 2;
}
.players {
  background-color: #000000;
  color: $white;
  padding: 20px;
  opacity: 95%;
}

.token {
  display: none;
  position: absolute;
  width: 50px;
}

.col-sm-2 {
  margin: auto;
}
  
  /* Hexagons */
  .hexagon-container {
    display: grid;
    grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
    grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
    grid-gap: var(--hex-between) var(--hex-between);
    padding-left: 25%;
    opacity: 80%;
  }
  .hexagon {
    align-items: center;
    background-color: var(--color-hex-default);
    display: flex;
    color: #fbf6cc;
    fill: white;
    height: var(--hex-height);
    justify-content: center;
    margin: var(--hex-border) 0;
    position: relative;
    transition: var(--hex-transition);
    width: var(--hex-width);
  }
  
  .hexagon::after,
  .hexagon::before {
    border-left: var(--hex-margin) solid transparent;
    border-right: var(--hex-margin) solid transparent;
    content: "";
    left: 0;
    position: absolute;
    transition: var(--hex-transition);
    width: 0;
  }
  .hexagon::after {
    border-top: var(--hex-border) solid var(--color-hex-default);
    top: 100%;
    width: 0;
  }
  .hexagon::before {
    border-bottom: var(--hex-border) solid var(--color-hex-default);
    bottom: 100%;
  }
    
  .hexagon:hover {
    background-color: var(--color-hex-hover);
    color: black;
  }
  .hexagon:hover::after,
  .hexagon:hover::before {
    border-top-color: var(--color-hex-hover);
    border-bottom-color: var(--color-hex-hover);
    }
   
.hexagon:nth-child(10n + 6),
.hexagon:nth-child(10n + 7),
.hexagon:nth-child(10n + 8),
.hexagon:nth-child(10n + 9), 
.hexagon:nth-child(10n + 10) {
    margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
  }
  
  .hexagon > div {
    height: 75%;
    transition: var(--hex-transition);
  }
  
  /* Colors */
  .color {
    background-color: var(--color);
    font-size: xx-large;
  }
  .color::after,
  .color::before {
    border-top-color: var(--color);
    border-bottom-color: var(--color);
  }
  .color:hover {
    fill: var(--color);
  }

  .multi-color {
    background: var(--blue);    
  }
  .multi-color::after,
  .multi-color::before {
    border-top-color: var(--whiteIsh);
    border-bottom-color: var(--red);
  }
  .multi-color:hover {
    fill: var(--red);
  }

  