body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url(../images/14834104277_54d309b4ca_b.jpg);
    background-repeat: no-repeat;
    background-position: right;
    color: #000;
    height: 100vh;
}



