.right {
    float: right;
}

.left {
    float: left;
}

h6 {
    color: $white;
    font-family: $contFont;
}

.choose-character {
    img {
        max-height: 100px;
    }
}

.col-sm-2 {
    background-color: #000000;
    padding: 20px;
    opacity: 80%;
   
    .two {
        padding-top: 40px;
    }
}
.two {
    padding-top: 40px;
}
form {
    h4 {
        color: blanchedalmond;
    }
}
.col-sm-6 {
    padding: 25;
}