.banner {
    padding: 50;
    color: $white;
    font-size: large;
 
    img {
     width: 150px;
    }
 }

 img {
    #img-0, #img-1 {
        .character-banner {
            width: 120px;
        }
    }
 }