nav {
  padding: 22px 50px 22px 20px;
  text-align: center;
  background-color: $white;
  opacity: 40%;
}

.logo {
    img {
      float: left;
      max-width: 80px;
    }
  }
  h1 {
    color: black;
    text-shadow: 2px 2px #3D2721;
    text-align: center;
}